<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated robochart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="circus.robocalc.robochart.presentation.RobochartModelWizardID"
            name="%_UI_RobochartModelWizard_label"
            class="circus.robocalc.robochart.presentation.RobochartModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RobochartModelFile.gif">
         <description>%_UI_RobochartModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated robochart -->
      <editor
            id="circus.robocalc.robochart.presentation.RobochartEditorID"
            name="%_UI_RobochartEditor_label"
            icon="icons/full/obj16/RobochartModelFile.gif"
            extensions="robochart"
            class="circus.robocalc.robochart.presentation.RobochartEditor"
            contributorClass="circus.robocalc.robochart.presentation.RobochartActionBarContributor">
      </editor>
   </extension>

</plugin>
